# Fichiers de configuration de l'IDE
.github/
.vscode/
# Sortie de compilation Java
bin/

# Fichiers de log et de documentation
data/logs/
doc/

# Les fichiers PDF utilisés pour suivre les exos.
pdf/
target/